 h1{
    text-align: center;
    font-size: 100px;
    color: red;
 }
body{
    background-image: url(channels4_profile.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.cabecalho{
    text-align: center;
    border-style: groove;
    border-color: red;
}
p{
    text-align: center;
    font-size: 30px;
    color: red;
}
ul{
    text-align: left;
    font-size: 30px;
    color: red;
}
div{ 
    text-align: center;
}
.po{
    font-size: 30px;
    color: red;
    text-align: center;
}