 h1{
    text-align: center;
    font-size: 100px;
    color: red;
 }
body{
    background-image: url(channels4_profile.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 20%;
    height: 100%;
}
.botao{
    background-position: center;
    
}